body {
		font-family: sans-serif;
}
h1, h2, h3 {
	margin: 0px;
	margin-top: 15px;
}
a {
	color: #33d;
}
a:hover {
	color: #00f;	
}
div.contact {
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 10px;
}
span {
	font-size: 0.8em; 	
}