html {
	background-color: #ddd;
	font-size: 10pt;
}
div#menu {
	background-color: #fff;
	width: 150px;
	border: 1px solid black;
}
div#body {
	background-color: #fff;
	border: 1px solid black;
	min-height: 100px;
}
div.box {
	border: 1px solid black;
	width: 250px;
	margin: 0px auto;
}
label {
	display: block;	
	width: 50px;
	float: left;
}
label:after {
	content: ":";	
}
select {
	width: 80px;
}

div#menu li {
	font-size: 0.8em;
}