html {
	background-color: #fff;
	font-size: 10pt;
}
div#menu {
	display: none;	
}
div#body {
	position: absolute;
	background-color: #fff;
	border: 1px solid black;
	top: 10px;
	left: 10px;
	right: 10px;
	min-height: 400px;
}
div.box {
	border: 1px solid black;
	width: 600px;
	margin: 0px auto;
}
label {
	display: block;	
	width: 100px;
	float: left;
}
label:after {
	content: ":";	
}

div#menu li {
	font-size: 0.8em;
}