html {
    font: 18px/27px 'OxygenRegular', Arial, sans-serif;
	background-color: #E28A62;
	background-image: url("/img/bg.png");
}
a {
    text-decoration: none;
    color: #440000;
}

#title {
    color: #614132;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 3px #441601;
    z-index: 100;
}
#subtitle {
    color: #000;
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #888;
    z-index: 90;
}

.menuitem {
    text-decoration: none;
    color: #441601;
    border: 1px solid #E2AD95;
    border-right: 0;   
    border-top: 0;
    display: block;
    min-width: 80px;
    padding: 0px 6px;
}
.menuitem:hover {
    border-left: 1px solid;
    border-bottom: 1px solid;
    text-shadow: 0px 0px 4px #944;
}
#sections {
    position: absolute;
    top: 30px;
    left: 400px;
}
#sections a {
    float: left;
    margin-right: 20px;
}
#sections .selected {
    border-left: 1px solid;
    border-bottom: 1px solid;
}

#menu {
	position: absolute;
	width: 150px;
	left: 30px;
	top: 100px;
}
#menu a {
    display: block;
    font-size: 0.8em;
    margin-bottom: 8px;
}
#body {
	background-color: #fff;
	margin-top: 100px;
	margin-left: 210px;
	margin-right: 30px;
	min-height: 400px;
	min-width: 650px;
	padding: 12px;
	padding-bottom: 30px;
    border-radius: 4px;
	box-shadow: 0px 0px 6px #aaa inset;
}
div.box {
	border: 1px solid black;
	width: 600px;
	margin: 0px auto;
}
label {
	display: block;	
	width: 100px;
	float: left;
}
label:after {
	content: ":";	
}
div.test1 {
	border: 1px solid #000;
	height: 100px;
}
div.test2 {
	border: 1px solid #000;
	height: 200px;
}

img.left {
    float: left;
    clear: left;
}
img.right {
    float: right;
    clear: right;
}
.polaroid {
    transition: transform .5s, margin .5s;
    -moz-transition: transform .5s, margin .5s; /* Firefox 4 */
    -webkit-transition: transform .5s, margin .5s; /* Safari and Chrome */
    -o-transition: transform .5s, margin .5s; /* Opera */
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    padding: 8px;
    padding-bottom: 35px;
    transform: rotate(-4deg) scale(.58);
    margin: -75px;
    background: #ffffff;
    z-index: 199;
}
.polaroid:nth-of-type(6n+1) {
    transform: rotate(-2deg) scale(.62);
}
.polaroid:nth-of-type(6n+2) {
    transform: rotate(3deg) scale(.59);
}
.polaroid:nth-of-type(6n+3) {
    transform: rotate(4deg) scale(.60);
}
.polaroid:nth-of-type(6n+4) {
    transform: rotate(-9deg) scale(.55);
}
.polaroid:nth-of-type(6n+5) {
    transform: rotate(-6deg) scale(.63);
}
.polaroid:hover {
    transform: rotate(0deg);
    z-index: 200;
    margin-right: 0px;
}

